:host {
    background-color: #35524A;
    color: white;
}

:host > * {
    color: white;
}

#titlecardcomponent {
    text-align: center;
}

.container {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.subtitles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.subtitles p {
    margin: auto;
    align-items: center; /* Aligns items vertically centered */
    font-size: 2rem;
    opacity: 0;
    line-height: 1;
    max-width: 1000px;
}

.subtitles i.material-icons {
    font-size: 24px; /* Adjust icon size */
    margin-right: 8px; /* Space between icon and text */
}

/* Mobile styles */
@media (max-width: 1024px) {
    .subtitles {
        display: block;
        justify-content: center;
    }

    .subtitles p {
        margin: 15px;
        font-size: 1rem;
    }
}
