:host {
    background-color: #0F1108;
    color: white;
}

:host > * {
    color: white;
}

.schoolContainer {
    overflow: hidden;
    margin: 2vh auto 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    align-items: center;
}

.titleContainer {
    overflow: hidden;
    border-bottom: .2rem solid;   
    display: inline-block;
}

.schoolTitle {
    opacity: 0; /* Make the text invisible at the start */
    font-size: 3rem; /* Adjust as needed */
    margin-bottom: 20px;
    margin-top: 8px;
}

.schoolPointsContainer {
    overflow: hidden;
    display: inline-block;
    text-align: left;
}

.schoolPoints {
    font-size: 2.7rem; /* Adjust as needed */
    margin-top: 2.7rem;
}

.certificates, .courses {
    font-size: 1.8rem;
    margin-bottom: 24px;
    margin-left: 24px;
}

.material-icons {
    font-size: 24px; /* Adjust the size as needed */
}

.container {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.svgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.svgContainer svg{
    align-items: center;
    width: 420px;
    position: relative;
    margin: 0;
}

.svgContainer path {
    opacity: 0;
}

.strokeLogo {
    right: -210px;
    z-index: 0;
}

.fillLogo {
    z-index: 1;
    left: -210px;
    opacity: 1;
}

/* Mobile styles */
@media (max-width: 1024px) {
    .material-icons {
        font-size: 12px; /* Adjust the size as needed */
    }

    .schoolContainer {
        overflow: hidden;
    }
    
    .titleContainer {
        overflow: hidden;
        border-bottom: .2rem solid;   
        display: inline-block;
        margin: 0;
    }
    
    .schoolTitle {
        opacity: 0;
        font-size: 20px;
        text-align: center;
        margin-bottom: 4px;
    }

    .schoolPointsContainer {
        overflow: hidden;
        display: inline-block;
        text-align: left;
    }
    
    .schoolPoints {
        font-size: 18px;
        margin-top: 12px;
    }
    
    .certificates, .courses {
        font-size: .8rem;
        margin-bottom: 4px;
        margin-left: 24px;
    }

    .svgContainer {
        position: relative;
        width: 220px; /* Limit the container width to the width of the SVGs */
        height: 125px; /* Adjusts height based on the content */
        margin: auto;
    }
    
    .svgContainer svg {
        position: absolute; /* Stack SVGs on top of each other */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto; /* Center the SVGs inside the container */
        width: 220px;
    }
    
    .strokeLogo {
        z-index: 1; /* Stack above fillLogo */
    }
    
    .fillLogo {
        z-index: 0; /* Positioned behind strokeLogo */
    }
}
